@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HyperByte a sua loja de eletrônicos</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/imgs/Ryzen5.jpg" class="card-img-top" alt="Processador Ryzen 5 3600" style="width:18rem; height:auto">
            <div class="card-body">
                <h5 class="card-title">Processador AMD Ryzen 5 3600</h5>
                <p class="card-text">
                    Com esse processador inovador e incrível você eleva ao máximo o verdadeiro potencial do seu computador e 
                    desfruta da mais pura velocidade. Maximize o seu desempenho seja trabalhando, jogando, navegando ou assistindo 
                    o seu filme preferido, com esse processador você pode tudo!
                </p>
                <a href="#" class="btn btn-default">Comprar &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-default">Comprar &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-default">Comprar &raquo;</a>
            </div>
        </div>
    </div>
</div>